.player-button {
  cursor: pointer;
  background-color: transparent;
  border-style: hidden;
  margin: 5px;
  flex-grow: 0;
  color: white;
  font-size: 19px;
  width: 25px;
}

.player-wrapper {
  width: 800px;
  height: 600px;
  margin-top: 7px;
  margin-left: 7px;
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
}

.video-container {
  flex-grow: 1;
}

.button-wrapper {
  display: flex;
  background-color: black;
  padding-bottom: 4px;
  padding-right: 2px;
}

.player-progress {
  display: flex;
  flex-grow: 1;

  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  align-items: center;
  padding-left: 4px;
}

.player-progress-bar-wrapper {
  cursor: pointer;

  display: flex;
  flex-grow: 1;
  align-items: center;

  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 1px;
}

.player-progress-bar {
  background-color: red;
  height: 5px;
  border-radius: 3px;
}

.player-progress-slider {
  height: 8px;
  width: 8px;
  margin-left: -8px;

  background-color: red;
  border-radius: 50%;
  display: inline-block;

  border-color: white;
  border-style: solid;
  border-width: 3px;
  
  opacity: 0%;

  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.player-progress-bar-wrapper:hover .player-progress-slider {
  opacity: 100%;
}